<div class='col-md-2 d-none d-md-block navbar-dark bg-dark sidebar'>
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]='["/"]'>
					<i class="fa fa-home"></i>
					Home
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]='["/counter"]'>
					<i class="fa fa-clock-o"></i>
					Counter
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]='["/fetch-data"]'>
					<i class="fa fa-bar-chart"></i>
					Fetch data
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]='["/modal"]'>
					<i class="fa fa-external-link"></i>
					Modal
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]='["/loader"]'>
					<i class="fa fa-spinner"></i>
					Loader
				</a>
			</li>
		</ul>
	</div>
</div>